<body>
<h1> Hello apa kabar </h1>
<form id ="forms" method="post" action=" ">
  {% csrf_token %}
  {{forms}}
  <button type = "submit">Submit</button>
  </form>

  {% for i in data%}
  Test
  <h1>
    {{i.post}}
    </h1>

    {% endfor %}
</body>
